<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Votica App</title>

    <link href="~/lib/mdbootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/lib/mdbootstrap/dist/css/mdb.min.css" rel="stylesheet">
    <!-- Maine CSS file -->
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Font Aweseom kit -->
    <script src="https://kit.fontawesome.com/7589587113.js"></script>

</head>
<body>
    <header>
        <nav id="theme-nav" class="mb1 navbar navbar-expand-lg navbar-dark primary-color">
            
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Votica Razor App</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="basicExampleNav">
                <ul class="navbar-nav ml-auto" id="navMenu">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "nav-item active" : "nav-item")" id="navIndex">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Privacy" ? "nav-item active" : "nav-item")" id="navManagement">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-alt"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Log Out</a>
                        </div> 
                    </li>       
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>  

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Votica Razor App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/lib/mdbootstrap/dist/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/lib/mdbootstrap/dist/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/lib/mdbootstrap/dist/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/lib/mdbootstrap/dist/js/mdb.min.js"></script>
    <!-- Main JS File -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
